<!DOCTYPE html>
<html>
  <head>
    <title>TREMEC Portal de Órdenes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bienvenido.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="https://www.server.mx/wp-content/uploads/2018/01/Cliente-de-CRM-Dynamics-KUO.png">

  </head>
  <body>

    <!-- inicio del navbar de tremec -->

 <div class='header-v3 header-sticky '> <!-- Navbar --> <div class='navbar navbar-default mega-menu' role='navigation' > <div class='container'> <!-- Brand and toggle get grouped for better mobile display --> <div class='navbar-header'> <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'> <span class='sr-only'>Toggle navigation</span> <span class='fa fa-bars'></span> </button> <style> .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -45px !important; } .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-left: 25px !important;/*esto permite para dispositivos moviles que el logo del footer no se oculte*/ } </style> <a class='navbar-brand text-right' href='/home_tremec'> <img id='logo-header' src='http://www.tremec.com/assets/img/logo1-default.png' class='img-responsive' alt='Logo' style='width:130px;'> </a> </div> <!--End Brand and toggle --> <!-- Collect the nav links, forms, and other content for toggling --> <div class='collapse navbar-collapse mega-menu navbar-responsive-collapse'> <div class='container '> <style>.header-v3 .dropdown > a::after {content:'' !important;}</style> <ul class='nav navbar-nav'> <li class='dropdown' id='m_opc0' > <a href='/bienvenido' onClick='window.location.href="/bienvenido"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu4'><strong>Generar Pedido de Venta</strong> <i class='fa fa-angle-down hidden' id='icon4' aria-hidden='true'></i> </a><ul class='dropdown-menu' > </ul> </li> <li class='dropdown' id='m_opc1' > <a href='http://www.tremec.com/menu/about-us/' onClick='window.location.href="/menu/about-us/"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu1'><strong>About Us</strong> <i class='fa fa-angle-down hidden' id='icon1' aria-hidden='true'></i> </a><ul class='dropdown-menu' > <li><a href='http://www.tremec.com/menu/value-and-quality/'>Value &#97;nd Quality</a></li><li><a href='http://www.tremec.com/menu/supplier-information/'>Supplier Information</a></li><li><a href='http://www.tremec.com/menu/market-focus/'>Market Focus</a></li><li><a href='http://www.tremec.com/menu/kuo-profile/'>KUO Group Corporate Profile </a></li><li><a href='http://www.tremec.com/menu/locations/'>Locations</a></li></ul> </li> <li class='dropdown' id='m_opc2' > <a href='http://www.tremec.com/menu/products-services/' onClick='window.location.href="/menu/products-services/"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu2'><strong>Products & Services</strong> <i class='fa fa-angle-down hidden' id='icon2' aria-hidden='true'></i> </a><ul class='dropdown-menu' > <li class='dropdown-submenu'><a href='http://www.tremec.com/menu/transmission-systems/'>Transmission Systems </a> <ul class='dropdown-menu'><li > <a href='http://www.tremec.com/menu/passenger-vehicle-transmissions/'>Passenger Vehicle Transmissions</a> </li><li > <a href='http://www.tremec.com/menu/light-duty-truck-transmissions/'>Light Duty Truck Transmissions</a> </li><li > <a href='http://www.tremec.com/menu/medium-and-heavy-duty-truck-transmission/'>Medium &#97;nd Heavy Duty Truck Transmissions</a> </li><li > <a href='http://www.tremec.com/menu/specialty-drives/'>Specialty Drives</a> </li><li > <a href='http://www.tremec.com/menu/ev-hev-powertrain-solutions/'>EV & HEV Drive Systems</a> </li></ul></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/components-subsystems/'>Components & Subsystems </a> <ul class='dropdown-menu'><li > <a href='http://www.tremec.com/menu/clutch-assemblies/'>Clutch Assemblies</a> </li><li > <a href='http://www.tremec.com/menu/friction-materials/'>Friction Materials</a> </li><li > <a href='http://www.tremec.com/menu/gears-shafts/'>Gears & Shafts</a> </li><li > <a href='http://www.tremec.com/menu/solenoids/'>Solenoids</a> </li><li > <a href='http://www.tremec.com/menu/transmission-control-unit/'>Transmission Control Unit </a> </li></ul></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/technology-capabilities/'>Technologies & Capabilities </a> <ul class='dropdown-menu'><li > <a href='http://www.tremec.com/menu/calculation-and-simulation/'>Calculation &#97;nd Simulation</a> </li><li > <a href='http://www.tremec.com/menu/clutch-development/'>Clutch System Development</a> </li><li > <a href='http://www.tremec.com/menu/gear-design-development/'>Gear Design &#97;nd Development</a> </li><li > <a href='http://www.tremec.com/menu/hydraulic-systems/'>Hydraulic System Design & Development</a> </li><li > <a href='http://www.tremec.com/menu/mechatronic-systems/'>Mechatronic Control Systems</a> </li><li > <a href='http://www.tremec.com/menu/software-development/'>Software Development</a> </li><li > <a href='http://www.tremec.com/menu/transmission-design/'>Transmission Design</a> </li><li > <a href='http://www.tremec.com/menu/testing/'>Transmission, Subsystem & Component Testing</a> </li></ul></li><li><a href='http://www.tremec.com/menu/product-literature/'>Product Literature</a></li></ul> </li> <li class='dropdown' id='m_opc3' > <a href='http://www.tremec.com/menu/motorsports-aftermarket/' onClick='window.location.href="/menu/motorsports-aftermarket/"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu3'><strong>Aftermarket</strong> <i class='fa fa-angle-down hidden' id='icon3' aria-hidden='true'></i> </a><ul class='dropdown-menu' > <li class='dropdown-submenu'><a href='http://www.tremec.com/menu/aftermarket-products/'>Products </a> <ul class='dropdown-menu'><li > <a href='http://www.tremec.com/menu/t-5/'>T-5</a> </li><li > <a href='http://www.tremec.com/menu/tko/'>TKO</a> </li><li > <a href='http://www.tremec.com/menu/magnum/'>Magnum</a> </li><li > <a href='http://www.tremec.com/menu/magnum-xl/'>Magnum XL</a> </li><li > <a href='http://www.tremec.com/menu/components/'>Components</a> </li></ul></li><li><a href='http://www.tremec.com/menu/tremec-blog/'>TREMEC Blog</a></li><li><a href='http://www.tremec.com/menu/tremec-store/'>TREMEC Store</a></li><li><a href='http://www.tremec.com/menu/tremec-toolbox-app/'>TREMEC Toolbox App</a></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/support-center/'>Support Center </a> <ul class='dropdown-menu'><li > <a href='http://www.tremec.com/menu/gear-ratio-calculator/'>Gear Ratio Calculator</a> </li><li > <a href='http://www.tremec.com/menu/product-registration/'>Product Registration</a> </li><li > <a href='http://www.tremec.com/menu/product-support-form/'>Product Support Form</a> </li><li > <a href='http://www.tremec.com/menu/faqs/'>FAQs</a> </li></ul></li><li><a href='http://www.tremec.com/menu/distributor-locator/'>Distributor Locator</a></li><li><a href='http://www.tremec.com/menu/distributor-portal/'>Distributor Portal</a></li><li><a href='http://www.tremec.com/menu/aftermarket-news/'>News</a></li><li><a href='http://www.tremec.com/menu/aftermarket-events/'>Events</a></li></ul> </li> <li class='dropdown' id='m_opc4' > <a href='http://www.tremec.com/menu/job-opportunities/' onClick='window.location.href="/menu/job-opportunities/"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu4'><strong>Careers</strong> <i class='fa fa-angle-down hidden' id='icon4' aria-hidden='true'></i> </a><ul class='dropdown-menu' > </ul> </li> <li class='dropdown' id='m_opc5' > <a href='http://www.tremec.com/menu/press-room/' onClick='window.location.href="/menu/press-room/"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu5'><strong>Press Room</strong> <i class='fa fa-angle-down hidden' id='icon5' aria-hidden='true'></i> </a><ul class='dropdown-menu' > <li><a href='http://www.tremec.com/menu/press-room-news/'>News</a></li><li><a href='http://www.tremec.com/menu/press-room-events/'>Events</a></li><li><a href='http://www.tremec.com/menu/media-gallery/'>Media Gallery</a></li></ul> </li> <li class='dropdown' id='m_opc6'><a href='http://www.tremec.com/contacto.php' onClick='window.location.href="http://www.tremec.com/contacto.php"' class='dropdown menus' data-toggle='dropdown' rel='dropmenu6'><strong> Contact Us </strong></a> </li> </ul><script> function QuitarClase1(){ var el = document.getElementById('icon1'); el.classList.remove('hidden'); } QuitarClase1(); </script> <script> function QuitarClase2(){ var el = document.getElementById('icon2'); el.classList.remove('hidden'); } QuitarClase2(); </script> <script> function QuitarClase3(){ var el = document.getElementById('icon3'); el.classList.remove('hidden'); } QuitarClase3(); </script> <script> function QuitarClase5(){ var el = document.getElementById('icon5'); el.classList.remove('hidden'); } QuitarClase5(); </script> </div><!--/end container--> </div><!--/navbar-collapse--> </div><!--End container--> </div> <!-- End Navbar --> </div> <!--=== End Header v3 ===--> <script type='text/javascript'>cssdropdown.start('menu')</script> <style> .fonttitulo{ font-size:1.5em; } .fonttitulo2{ font-size:1.3em; } </style> 

  <!-- fin del navbar -->

  <section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="wow fadeInUp section-title text-center" data-wow-delay="0.2s">
                         <h2>Crear pedido de Venta</h2>
                          <p class="lead">Completa la forma para poder ingresar un pedido de Venta directo al ERP.</p>
                          <br>
                    </div>
               </div>

               <div class="forma col-md-12 col-sm-12 text-center">
                    <!-- CONTACT FORM HERE -->
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <form id="contact-form" action="#" method="post">
                              <div class="input">
                                    <h5>Empleado:</h5>
                                   <input type="text" id="empleado_id" class="form-control" name="name" value="Vendedor KUO" required="" disabled>
                              </div>
                              <br>
                              <div class="input">
                                    <h5>Cliente:</h5>
                                   <select class="form-control" id="dropdown_cliente">
                                    <option>Cliente 1</option>
                                    <option>Cliente 2</option>
                                    <option>Cliente 3</option>
                                    <option>Cliente 4</option>
                                    <option>Cliente 5</option>
                                  </select>
                              </div>
                              <br>
                              <div class="input">
                                <h5>Fecha de Entrega Solicitada:</h5>
                                <input type="date" id="fecha_de_entrega" name="fecha_de_entrega">
                              </div>
                              <br>
                              <div class="input">
                                   <h5>Producto:</h5>
                                   <select class="form-control" id="dropdown_producto">
                                    <option>Producto 1</option>
                                    <option>Producto 2</option>
                                    <option>Producto 3</option>
                                    <option>Producto 4</option>
                                    <option>Producto 5</option>
                                  </select>
                              </div>
                              <br>
                              <div class="input">
                                   <h5>Cantidad:</h5>
                                   <input id="cantidad" type="text" name="cantidad">
                              </div>
                              <br>
                              <div>
                                   <button id="crear_pedido" type="submit" class="btn btn-lg btn-primary" onclick="CrearPedido();return false" name="submit">Crear Pedido</button>

                                   <button id="ver_pedidos" type="submit" class="btn btn-lg btn-success" onclick="mispedidos();return false" name="submit">Ver Pedidos</button>
                              </div>
                        </form>
                    </div>
               </div>
          </div>
     </div>
</section>


<!-- modal de confirmación de reserva -->

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Confirmación de Éxito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" id="MensajeModalConfirmacion"> 
          <p><b>Tu pedido de venta se ha generado satisfactoriamente. </b></p>
        </div>
        <div>
        <p class="text-center" id="mis_pedidos_boton"><a class="btn btn-success text-center" href="#" target"_blank" onclick="mispedidos();return false" id="mis_pedidos">Ver mis pedidos</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </body>

<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/bienvenido.js"></script>

<script src="https://cdn.recast.ai/webchat/webchat.js"
channelId="e4a3870c-50c3-4d29-b709-af0fbff6314f"
token="908f023fb4d3ac1d2845de369eb174b9"
id="recast-webchat"
></script>