
<!DOCTYPE html>
<!--[if IE 8]> <html lang='en' class='ie8'> <![endif]-->
<!--[if IE 9]> <html lang='en' class='ie9'> <![endif]-->
<!--[if !IE]><!--> <html lang='en'> <!--<![endif]-->
<head>
<title>Tremec</title>

    <meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='cache-control' content='max-age=0' />
<meta http-equiv='cache-control' content='no-cache' />
<meta http-equiv='pragma' content='no-cache' />



<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/bootstrap/css/bootstrap.min.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/style.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/pages/profile.css'>
    <!-- ICH_1408
    <link rel='stylesheet' href='http://www.tremec.com/assets/page_onehttp://www.tremec.com/assets/css/one.style.css'>-->
	
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/css/one.style.css'>
	<!-- CSS Header and Footer -->
	
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/headers/header-default.css'>
	<!-- CSS Header and Footer -->
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/headers/header-v8.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/headers/header-v3.css'>
	
      <!-- ICH | 17/08/2016 -->
      <!-- NUEVO --><!-- <link rel='stylesheet' href='assets/css/footers/footer-v4.css'>-->
      <!--	<link rel='stylesheet' href='http://www.tremec.com/assets/css/footers/footer-v6.css'>-->
 
    <link rel='stylesheet' href='http://www.tremec.com/assets/css/footers/footer-v1.css'>

	<!-- CSS Implementing Plugins -->
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/animate.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/font-awesome/css/font-awesome.min.css'>

    
    <script type='text/javascript' src='http://www.tremec.com/js/agile_carousel.a1.1.min.js'></script>
    
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/layer-slider/layerslider/css/layerslider.css'>

	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/fancybox/source/jquery.fancybox.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/revolution-slider/rs-plugin/css/settings.css' type='text/css' media='screen'>
	
	
	

	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css'>
	
	<!----wealth--->

	

	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css'>	
	
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/animate.css'>
   
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/line-icons/line-icons.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/font-awesome/css/font-awesome.min.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css'>
    <link rel='stylesheet' href='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css'>
    <link rel='stylesheet' href='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css'>
    


    
  
    
    
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css'>
	
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/wealth/assets/css/wealth.style.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/wealth/assets/css/custom.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/pages/blog_magazine.css'>
    <!-- ICH_1408
		<link rel='stylesheet' href='http://www.tremec.com/assets/css/pages/page_search.css'>-->
    <!-- ICH_1408
	 <link rel='stylesheet' href='http://www.tremec.com/assets/agencyhttp://www.tremec.com/assets/css/agency.style.css'>-->
	
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/pages/pricing/pricing_v1.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/plugins/hover-effects/css/custom-hover-effects.css'>
	<!--<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/animate.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/line-icons/line-icons.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/font-awesome/css/font-awesome.min.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assetss/wealth/assets/plugins/line-icons-pro/styles.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css'>
	<link rel='stylesheet' href='http://www.tremec.com/assets/wealth/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css'>-->
	<!----->
	
	 <!-- CSS Theme -->
	 
	 <!--spa-->
     <link rel='stylesheet' href='http://www.tremec.com/assets/spa/assets/css/spa.style.css'>
	
	
	
	<!-- CSS Theme -->
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/theme-colors/default.css' id='style_color'>
	<!-- ICH_1408
  <link rel='stylesheet' href='http://www.tremec.com/assets/css/theme-skins/dark.css'>-->
   
    <!--video-->
    <!-- ICH_1408
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/video.css'>-->
	<!--end video-->
	<!-- CSS Customization -->
	<link rel='stylesheet' href='http://www.tremec.com/assets/css/custom.css'>



    <script type='text/javascript' src='http://www.tremec.com/js/jquery-1.7.2.min.js'></script>



	
<!-----plugins para autocomplete---->
	<link href='http://www.tremec.com/assets/plugins/select2/css/select2.min.css' rel='stylesheet' />
	<script src='http://www.tremec.com/assets/plugins/select2/js/select2.min.js'></script>




<link rel='shortcut icon' href='http://www.tremec.com/images/favicon.ico'>
<meta name='description' content='Tremec Web Site' />
<meta name='robots' content='index,follow' />
<meta name='keywords' content='TREMEC, Transmissions, KUO Group Company' />
<meta property='og:title' content='Tremec' />
<meta property='og:type' content='product' />
<meta property='og:url' content='http://www.tremec.com/index.php' />
<meta property='og:site_name' content='Tremec' />
<meta property='og:description' content='Tremec Web Site' />
<meta property='og:image' content='http://www.tremec.com/images/logo.png' />
<meta property='fb:admins' content='tremec' />








<script type='text/javascript'>

// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-37397737-1']);
_gaq.push(['_setDomainName', 'tremec.com']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

// Facebook
(function(d, s, id) {




  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}
(document, 'script', 'facebook-jssdk'));




 
</script>




<script type='text/javascript'>
  function Lang(l) {
    document.lang.l.value = l;
    document.lang.submit();
  }
</script>




</head> 
<body class='header-fixed' data-spy='scroll'  data-target='.one-page-header' >
	<div class='wrapper' >
	<!-- Topbar v3 -->
<form name='lang' method='post' action='http://www.tremec.com/lang.php'>
  <input type='hidden' name='o' value='http://www.tremec.com/index.php'>
  <input type='hidden' name='l' id='l'>
  <input type='hidden' name='m' value=''>
</form>
<div id='fb-root'></div>


	<!-- Topbar blog -->
			<div class='blog-topbar' >
				<div class='topbar-search-block' >
					<div class='container' >
                    
						<form  name='busqueda' method='get' action='http://www.tremec.com/buscar.php'  >
							<input type='text' name='q' id='q' class='form-control' size='13' maxlength='100' placeholder='Search' > 
							<div class='search-close' ><i class='icon-close'></i></div>
						</form>
 
   <script>
   
   function ColocarCursor( ){
    
    
   //alert('entro');
  document.getElementById('q').click();//cierra modal
   }
   
   </script>
   
   

					</div>
				</div>
				<div class='container' >
					<div class='row'>
						<div class='col-sm-8 col-xs-8'>
							
							<div class='topbar-toggler'></div>
							<ul class='topbar-list topbar-menu'>

								<!--<li class='cd-log_reg hidden-sm hidden-md hidden-lg'><strong><a class='cd-signin' href='javascript:void(0);'>Login</a></strong></li>
								<li class='cd-log_reg hidden-sm hidden-md hidden-lg'><strong><a class='cd-signup' href='javascript:void(0);'>Register</a></strong></li>-->
							</ul>
						</div>
						<div class='col-sm-4 col-xs-4 clearfix' >
							<i class='fa fa-search search-btn pull-right' onclick='ColocarCursor();'></i>
							<ul class='topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block' >
								<!--<li class='cd-log_reg home'><a class='cd-signin' href='javascript:void(0);'>Login</a></li>--><li class='cd-log_reg' style='font-size:11px; color:#fff; font-family: Arial,Regular, sans-serif;'><a class='cd-signup' href='javascript:Lang(1);' >Espa&ntilde;ol</a></li>
							</ul>
						</div>
					</div><!--/end row-->
				</div><!--/end container-->
			</div>
			<!-- End Topbar blog -->
		
	 
            <style>
                .menus{
                font:15px Arial,Narrow, sans-serif !important;
                color:#484747 !important; 

                }
                .menus:hover{
                color:#d60b28 !important;
                }

                .menus2{
                font:Arial,Narrow, sans-serif !important;

                /*estaba en 15px se lo dejo en 10 es para que se epanda el menu y quepan mas opciones
                este el archivo de refrencia assets/plugins/boostrap/css/boopstrap.min.css   less/mixing/grid.less linea 10
                */
                .container {
                    padding-right: 10px !important;
                    padding-left: 10px !important;
    
                    }
                    
                    
            </style>
        <!--=== Header v3 ===-->
        <div class='header-v3 header-sticky '>

                        <!-- Navbar -->
                            <div class='navbar  navbar-default mega-menu' role='navigation' >
                                <div class='container'>
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class='navbar-header'>
                                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'>
                                            <span class='sr-only'>Toggle navigation</span>
                                            <span class='fa fa-bars'></span>
                                        </button>
  
  
                                                            <style>                 
                                                                   .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                                                                    margin-left: -45px !important;
                                                                    }
    
                                                                   .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
                                                                   margin-left: 25px !important;/*esto permite para dispositivos moviles que el logo del footer no se oculte*/
                                                                 }
                                                            </style>
  
                                                      
                                        <a class='navbar-brand text-right' href='http://www.tremec.com/index.php'>
                                            <img id='logo-header' src='http://www.tremec.com/assets/img/logo1-default.png' class='img-responsive' alt='Logo' style='width:130px;'>
                                        </a>
                                   </div>
                                   <!--End Brand and toggle -->
        
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class='collapse navbar-collapse mega-menu navbar-responsive-collapse'>
                                         <div class='container '>
  
  
              
<style>
.header-v3 .dropdown > a::after {

content:'' !important;
}
</style>

                                                
    <ul class='nav navbar-nav'>
    		<li  class='dropdown'  id='m_opc0' >
                <a href='/bienvenido' onClick='window.location.href="/bienvenido"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu4'><strong>Generar Pedido de Venta</strong> <i class='fa fa-angle-down hidden' id='icon4' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   </ul>    
            </li>
            <li  class='dropdown'  id='m_opc1' >
                <a href='http://www.tremec.com/menu/about-us/' onClick='window.location.href="/menu/about-us/"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu1'><strong>About Us</strong> <i class='fa fa-angle-down hidden' id='icon1' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   <li><a href='http://www.tremec.com/menu/value-and-quality/'>Value &#97;nd Quality</a></li><li><a href='http://www.tremec.com/menu/supplier-information/'>Supplier Information</a></li><li><a href='http://www.tremec.com/menu/market-focus/'>Market Focus</a></li><li><a href='http://www.tremec.com/menu/kuo-profile/'>KUO Group Corporate Profile </a></li><li><a href='http://www.tremec.com/menu/locations/'>Locations</a></li></ul>    
            </li>
            <li  class='dropdown'  id='m_opc2' >
                <a href='http://www.tremec.com/menu/products-services/' onClick='window.location.href="/menu/products-services/"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu2'><strong>Products & Services</strong> <i class='fa fa-angle-down hidden' id='icon2' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   <li class='dropdown-submenu'><a href='http://www.tremec.com/menu/transmission-systems/'>Transmission Systems   </a>
                                            <ul class='dropdown-menu'><li >
                                                                                          <a href='http://www.tremec.com/menu/passenger-vehicle-transmissions/'>Passenger Vehicle Transmissions</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/light-duty-truck-transmissions/'>Light Duty Truck Transmissions</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/medium-and-heavy-duty-truck-transmission/'>Medium &#97;nd Heavy Duty Truck Transmissions</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/specialty-drives/'>Specialty Drives</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/ev-hev-powertrain-solutions/'>EV & HEV Drive Systems</a>    </li></ul></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/components-subsystems/'>Components & Subsystems   </a>
                                            <ul class='dropdown-menu'><li >
                                                                                          <a href='http://www.tremec.com/menu/clutch-assemblies/'>Clutch Assemblies</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/friction-materials/'>Friction Materials</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/gears-shafts/'>Gears & Shafts</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/solenoids/'>Solenoids</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/transmission-control-unit/'>Transmission Control Unit </a>    </li></ul></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/technology-capabilities/'>Technologies & Capabilities   </a>
                                            <ul class='dropdown-menu'><li >
                                                                                          <a href='http://www.tremec.com/menu/calculation-and-simulation/'>Calculation &#97;nd Simulation</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/clutch-development/'>Clutch System Development</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/gear-design-development/'>Gear Design &#97;nd Development</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/hydraulic-systems/'>Hydraulic System Design & Development</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/mechatronic-systems/'>Mechatronic Control Systems</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/software-development/'>Software Development</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/transmission-design/'>Transmission Design</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/testing/'>Transmission, Subsystem & Component Testing</a>    </li></ul></li><li><a href='http://www.tremec.com/menu/product-literature/'>Product Literature</a></li></ul>    
            </li>
            <li  class='dropdown'  id='m_opc3' >
                <a href='http://www.tremec.com/menu/motorsports-aftermarket/' onClick='window.location.href="/menu/motorsports-aftermarket/"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu3'><strong>Aftermarket</strong> <i class='fa fa-angle-down hidden' id='icon3' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   <li class='dropdown-submenu'><a href='http://www.tremec.com/menu/aftermarket-products/'>Products   </a>
                                            <ul class='dropdown-menu'><li >
                                                                                          <a href='http://www.tremec.com/menu/t-5/'>T-5</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/tko/'>TKO</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/magnum/'>Magnum</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/magnum-xl/'>Magnum XL</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/components/'>Components</a>    </li></ul></li><li><a href='http://www.tremec.com/menu/tremec-blog/'>TREMEC Blog</a></li><li><a href='http://www.tremec.com/menu/tremec-store/'>TREMEC Store</a></li><li><a href='http://www.tremec.com/menu/tremec-toolbox-app/'>TREMEC Toolbox App</a></li><li class='dropdown-submenu'><a href='http://www.tremec.com/menu/support-center/'>Support Center   </a>
                                            <ul class='dropdown-menu'><li >
                                                                                          <a href='http://www.tremec.com/menu/gear-ratio-calculator/'>Gear Ratio Calculator</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/product-registration/'>Product Registration</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/product-support-form/'>Product Support Form</a>    </li><li >
                                                                                          <a href='http://www.tremec.com/menu/faqs/'>FAQs</a>    </li></ul></li><li><a href='http://www.tremec.com/menu/distributor-locator/'>Distributor Locator</a></li><li><a href='http://www.tremec.com/menu/distributor-portal/'>Distributor Portal</a></li><li><a href='http://www.tremec.com/menu/aftermarket-news/'>News</a></li><li><a href='http://www.tremec.com/menu/aftermarket-events/'>Events</a></li></ul>    
            </li>
            <li  class='dropdown'  id='m_opc4' >
                <a href='http://www.tremec.com/menu/job-opportunities/' onClick='window.location.href="/menu/job-opportunities/"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu4'><strong>Careers</strong> <i class='fa fa-angle-down hidden' id='icon4' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   </ul>    
            </li>
            <li  class='dropdown'  id='m_opc5' >
                <a href='http://www.tremec.com/menu/press-room/' onClick='window.location.href="/menu/press-room/"'  class='dropdown menus'  data-toggle='dropdown'  rel='dropmenu5'><strong>Press Room</strong> <i class='fa fa-angle-down hidden' id='icon5' aria-hidden='true'></i> </a><ul class='dropdown-menu' >   <li><a href='http://www.tremec.com/menu/press-room-news/'>News</a></li><li><a href='http://www.tremec.com/menu/press-room-events/'>Events</a></li><li><a href='http://www.tremec.com/menu/media-gallery/'>Media Gallery</a></li></ul>    
            </li>
        <li class='dropdown' id='m_opc6'><a href='http://www.tremec.com/contacto.php' onClick='window.location.href="http://www.tremec.com/contacto.php"' class='dropdown menus'   data-toggle='dropdown' rel='dropmenu6'><strong> Contact Us </strong></a> 
        
        </li>
      </ul><script>
                                           function QuitarClase1(){
                                                var el = document.getElementById('icon1');
                                                el.classList.remove('hidden');  
                                            }
                                           QuitarClase1();
                                      </script>
                      
                             <script>
                                           function QuitarClase2(){
                                                var el = document.getElementById('icon2');
                                                el.classList.remove('hidden');  
                                            }
                                           QuitarClase2();
                                      </script>
                      
                             <script>
                                           function QuitarClase3(){
                                                var el = document.getElementById('icon3');
                                                el.classList.remove('hidden');  
                                            }
                                           QuitarClase3();
                                      </script>
                      
                             <script>
                                           function QuitarClase5(){
                                                var el = document.getElementById('icon5');
                                                el.classList.remove('hidden');  
                                            }
                                           QuitarClase5();
                                      </script>
                      
                              
                                            
                                          </div><!--/end container-->
                                    </div><!--/navbar-collapse-->
                                </div><!--End container-->
                           </div>
                           <!-- End Navbar -->
         </div>
        <!--=== End Header v3 ===-->
    
  
  <script type='text/javascript'>cssdropdown.start('menu')</script>
  
       <style>
		
		.fonttitulo{
		font-size:1.5em;
		
		}
		.fonttitulo2{
		font-size:1.3em;
		
		}
		</style>
		<!--=== Slider ===-->
		<div class='tp-banner-container'>
			<div class='tp-banner'>
				<ul>
                
                
					<!-- SLIDE -->
					<li class='revolution-mch-1' data-transition='fade' data-slotamount='5' data-masterspeed='1000' data-title='Title 1'    '>
						<!-- MAIN IMAGE -->
						<!--<img src='http://www.tremec.com/assets/img/1.0-a_Banner.jpg'  alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>-->
                        <img src='http://www.tremec.com/images/High.Torque-Transmissions.jpg' alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>

						<div class='tp-caption revolution-ch1 sft start' '
						data-x='left'
						data-hoffset='0'
						data-y='210'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >
                                    <h1 class='fonttitulo' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'><b>High-Torque  </b></h1>
						 </div>
						<div class='tp-caption revolution-ch1 sft start ' '
						data-x='left'
						data-hoffset='0'
						data-y='280'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >

                            	<h1 class='fonttitulo2' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'>Manual & DCT Transmissions </h1>
                            <hr  style='height: 8px;background-color: red; margin: 10px 10px;border-top: 1px solid #e74c3c;'/>
						 </div>

						<!-- LAYER -->
						<!--<div class='tp-caption sft'
						data-x='left'
						data-hoffset='0'
						data-y='350'
						data-speed='1600'
						data-start='2800'
						data-easing='Power4.easeOut'
						data-endspeed='300'
						data-endeasing='Power1.easeIn'
						data-captionhidden='off'
						style='z-index: 6'>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Learn More</a>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Our Work</a>
						</div>-->
					</li>
					<!-- END SLIDE -->

               
                
					<!-- SLIDE -->
					<li class='revolution-mch-1' data-transition='fade' data-slotamount='5' data-masterspeed='1000' data-title='Title 1'    '>
						<!-- MAIN IMAGE -->
						<!--<img src='http://www.tremec.com/assets/img/1.0-a_Banner.jpg'  alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>-->
                        <img src='http://www.tremec.com/images/World-Class-Manufacturing.jpg' alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>

						<div class='tp-caption revolution-ch1 sft start' '
						data-x='left'
						data-hoffset='0'
						data-y='210'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >
                                    <h1 class='fonttitulo' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'><b>World-Class  </b></h1>
						 </div>
						<div class='tp-caption revolution-ch1 sft start ' '
						data-x='left'
						data-hoffset='0'
						data-y='280'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >

                            	<h1 class='fonttitulo2' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'> Manufacturing </h1>
                            <hr  style='height: 8px;background-color: red; margin: 10px 10px;border-top: 1px solid #e74c3c;'/>
						 </div>

						<!-- LAYER -->
						<!--<div class='tp-caption sft'
						data-x='left'
						data-hoffset='0'
						data-y='350'
						data-speed='1600'
						data-start='2800'
						data-easing='Power4.easeOut'
						data-endspeed='300'
						data-endeasing='Power1.easeIn'
						data-captionhidden='off'
						style='z-index: 6'>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Learn More</a>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Our Work</a>
						</div>-->
					</li>
					<!-- END SLIDE -->

               
                
					<!-- SLIDE -->
					<li class='revolution-mch-1' data-transition='fade' data-slotamount='5' data-masterspeed='1000' data-title='Title 1'    '>
						<!-- MAIN IMAGE -->
						<!--<img src='http://www.tremec.com/assets/img/1.0-a_Banner.jpg'  alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>-->
                        <img src='http://www.tremec.com/images/Torque-Transfer-Solutions.jpg' alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>

						<div class='tp-caption revolution-ch1 sft start' '
						data-x='left'
						data-hoffset='0'
						data-y='210'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >
                                    <h1 class='fonttitulo' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'><b>Torque Transfer  </b></h1>
						 </div>
						<div class='tp-caption revolution-ch1 sft start ' '
						data-x='left'
						data-hoffset='0'
						data-y='280'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >

                            	<h1 class='fonttitulo2' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'> Solutions <i class='fa fa-registered' aria-hidden='true' style='font-size:.5em;' ></i> </h1>
                            <hr  style='height: 8px;background-color: red; margin: 10px 10px;border-top: 1px solid #e74c3c;'/>
						 </div>

						<!-- LAYER -->
						<!--<div class='tp-caption sft'
						data-x='left'
						data-hoffset='0'
						data-y='350'
						data-speed='1600'
						data-start='2800'
						data-easing='Power4.easeOut'
						data-endspeed='300'
						data-endeasing='Power1.easeIn'
						data-captionhidden='off'
						style='z-index: 6'>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Learn More</a>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Our Work</a>
						</div>-->
					</li>
					<!-- END SLIDE -->

               
                
					<!-- SLIDE -->
					<li class='revolution-mch-1' data-transition='fade' data-slotamount='5' data-masterspeed='1000' data-title='Title 1'    '>
						<!-- MAIN IMAGE -->
						<!--<img src='http://www.tremec.com/assets/img/1.0-a_Banner.jpg'  alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>-->
                        <img src='http://www.tremec.com/images/Solenoids.jpg' alt='darkblurbg'  data-bgfit='cover' data-bgposition='left top' data-bgrepeat='no-repeat'>

						<div class='tp-caption revolution-ch1 sft start' '
						data-x='left'
						data-hoffset='0'
						data-y='210'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >
                                    <h1 class='fonttitulo' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'><b>Mechatronic  </b></h1>
						 </div>
						<div class='tp-caption revolution-ch1 sft start ' '
						data-x='left'
						data-hoffset='0'
						data-y='280'
						data-speed='1500'
						data-start='500'
						data-easing='Back.easeInOut'
						data-endeasing='Power1.easeIn'
						data-endspeed='300' >

                            	<h1 class='fonttitulo2' style='color:#fff;font-family: Arial,Regular, sans-serif;margin: 5px 10px;'>Technology </h1>
                            <hr  style='height: 8px;background-color: red; margin: 10px 10px;border-top: 1px solid #e74c3c;'/>
						 </div>

						<!-- LAYER -->
						<!--<div class='tp-caption sft'
						data-x='left'
						data-hoffset='0'
						data-y='350'
						data-speed='1600'
						data-start='2800'
						data-easing='Power4.easeOut'
						data-endspeed='300'
						data-endeasing='Power1.easeIn'
						data-captionhidden='off'
						style='z-index: 6'>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Learn More</a>
						<a href='#' class='btn-u btn-brd btn-brd-hover btn-u-light'>Our Work</a>
						</div>-->
					</li>
					<!-- END SLIDE -->




			    </ul>
			    <!--<div class='tp-bannertimer tp-bottom'></div>-->
			</div>
		</div>
		<!--=== End Slider ===-->
                                      
       
       
       

	
		<!--=== Colorfull Blocks ===-->
		<div class='container-fluid pricing-table-v1 no-space-pricing'>
			<div class='row no-gutter equal-height-columns'> 
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <a class='col-sm-4  pricing-v1-green' href='http://www.tremec.com/menu.php?m=58' style='text-decoration:none; '>
                          <div class='service-block service-block-purple no-margin-bottom content equal-height-column'>          <h2 class='font-light text-left' style='font-size:26px; color:#484747; font-family: Arial,Regular, sans-serif; '>Welcome to <b>TREMEC</b></h2>               <p class='no-margin-bottom font-light '><font color='#484747'><p style="text-align: left;">We invite you to look inside to see how our feature-rich torque transfer solutions can meet your drivetrain requirements.</p></font></p>    </div>
                      </a> 
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <a class='col-sm-4  pricing-v1-green' href='http://www.tremec.com/menu.php?m=155' style='padding-right: 0px;padding-left: 0px;text-decoration:none; '>    <div class='service-block service-block-red no-margin-bottom content equal-height-column'>          <h2 class='font-light text-left' style='font-size:26px;font-family: Arial,Regular, sans-serif;'>Featured <b>Product</b></h2>              <p class='no-margin-bottom font-light '><p style="text-align: left;">TR-9007 DCT: High-torque dual clutch transmissions with high-performance mechatronic systems provide multi-mode, tunable launch &#97;nd shift profiles for sports cars &#97;nd performance vehicles.</p></p>    </div></a> 
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <a class='col-sm-4  pricing-v1-green'  href='javascript:void(0);' style='padding-right: 0px;padding-left: 0px;text-decoration:none;cursor:default;'>    <div class='service-block service-block-aqua  no-margin-bottom content equal-height-column'>          <h2 class='font-light text-left' style='font-size:26px;color:#fff; font-family: Arial,Regular, sans-serif;' >Knowledge <b>Base</b></h2>              <p class='no-margin-bottom font-light '><p style="text-align: left;">In our knowledge library, you will find many useful tips &#97;nd articles about the technology behind our performance-enhancing products.</p></p>    </div></a> 
                
                
			</div>
		</div>
		<!--=== End Colorfull Blocks ===-->


    <style>
	.headline h2{
	border-bottom: 0px solid #d60b28 !important;

	}

.btn-default {
color: #888b8d !important;

}

 /**es para reducir el espacio entre segementos de todo el contenido del home*/
    .content-sm {
        padding-top: 35px !important;
        padding-bottom: 5px !important;
    }
    
    /*para el botones rojos*/
.btn-default {
border-color: #c93e30 !important;
}
.btn-default:hover{
border-color: #c93e30 !important;

}

</style>

    

	<!--=== Content Part ===-->
		<div class='container content-sm'>

	        <!-- Recent Works -->
			<div class='tex-left'>
                
			</div>
			
			<div class='row margin-bottom-20'>
			
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <div class='col-md-4 col-sm-12'>   <h3 style='font-size:26px; color:#484747; font-family: Arial,Regular, sans-serif; '>Career  <b>Opportunities</b></h3>       <div class='thumbnails thumbnail-style thumbnail-kenburn'>           <div class='thumbnail-img'>               <div class='overflow-hidden'>                   <a href='http://www.tremec.com/careers.php' ><img class='img-responsive'  src='http://www.tremec.com/images/Career Opportunities at TREMEC.jpg' alt=''  ></a>               </div>           </div>           <div class='caption'>           </div>       </div>   <p class='text-left'><p style="text-align: left;">If you are looking for a great place to build your career &#97;nd work in a collaborative environment to achieve your full potential, we look forward to speaking with you.</p> </p>   <p class='text-right''><a href='http://www.tremec.com/careers.php' class='btn btn-default' type='button' style='color:#000 !important;' > Read more</a></p></div> 
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <div class='col-md-4 col-sm-12'>   <h3 style='font-size:26px; color:#484747; font-family: Arial,Regular, sans-serif; '>Industry <b>Events</b></h3>       <div class='thumbnails thumbnail-style thumbnail-kenburn'>           <div class='thumbnail-img'>               <div class='overflow-hidden'>                   <a href='http://www.tremec.com/not_eventos.php' ><img class='img-responsive'  src='http://www.tremec.com/images/Industry Events.jpg' alt=''  ></a>               </div>           </div>           <div class='caption'>           </div>       </div>   <p class='text-left'><p style="text-align: left;">Industry conferences are a marketplace for all issues concerning automotive transmissions &#97;nd cover the newest developments. TREMEC encourages you to join us &#97;nd experience the benefits of these events.</p> </p>   <p class='text-right''><a href='http://www.tremec.com/not_eventos.php' class='btn btn-default' type='button' style='color:#000 !important;' > Read more</a></p></div> 
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 <div class='col-md-4 col-sm-12'>   <h3 style='font-size:26px; color:#484747; font-family: Arial,Regular, sans-serif; '>Get <b>Connected</b></h3>       <div class='thumbnails thumbnail-style thumbnail-kenburn'>           <div class='thumbnail-img'>               <div class='overflow-hidden'>                   <a href='http://tremec-blog.com/' target='_blank' ><img class='img-responsive'  src='http://www.tremec.com/images/get_connected.jpg' alt=''  ></a>               </div>           </div>           <div class='caption'>           </div>       </div>   <p class='text-left'><p style="text-align: left;">Let&rsquo;s get connected on social media! Visit the TREMEC blog &#97;nd interact with our reflections about the automotive world &#97;nd high-performance vehicles.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> </p>   <p class='text-right''><a href='http://tremec-blog.com/' target='_blank' class='btn btn-default' type='button' style='color:#000 !important;' > Read more</a></p></div> 
			
			</div>
			<!-- End Recent Works -->

	</div>
	
	
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 
                        <style>
	                        .divtop{
	                        padding-top: 65px !important;
	                        }
	                        .intro-section{
                                background: RGB(255, 255, 255) url(http://www.tremec.com/images/Innovative_Products.jpg) 50% 0 fixed  !important;

                                background-position-x: 50%;
                                background-position-y: 50%;
                                background-size: cover;
                                background-repeat-x: no-repeat !important;
                                background-repeat-y: no-repeat !important;
                                background-attachment: initial;
                                background-origin: initial;
                                background-clip: initial;
                                background-color: initial;
                                background-size: cover;
                                background-position: center center;
                                background-position-x: 50%;
                                background-position-y: 50%;  
                                top: 0; left: 0;';
	
	                            }

                                 /**reducir el espacio de las notiicias**/
	                            .book-section {
                                    padding: 25px 25px !important;
	                             }
	                    </style>  
                    
	                <!-- Intro Section -->
                    <section class='intro-section' style=' no-repeat center center fixed;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        <!--background-size:100% auto;-->
                        margin-top: 1%; height: 350px; '>
		                <div  class='fullscreen-static-image fullheight' style='position: relative; z-index: 0; background: rgba(0, 0, 0, 0.42) none repeat scroll 0% 0%; height: 229px;'>
				                <!-- Promo Content BEGIN -->
				                <div  class='container valign__middle text-center divtop'  >
					                <div class='row'>
						                <div class='col-md-8 col-md-offset-2 col-sm-12 col-xs-12 page-scroll'>
							                <h1 class='g-color-white fadeInUp wow animated ' style='font-size:50px; color:#484747; font-family: Arial,Regular, sans-serif;'>Innovative <b>Products</b></h1>
							                <a href='http://www.tremec.com/menu.php?m=59' class='overflecha2 fadeInUp wow animated'></a>
						                </div>
					                </div>
				                </div>
			                  <!-- Promo Content END -->			
	                    </div>
                    </section>
                    <!-- End Intro Section -->
                   
  
	
	<style>
	/*para el boton de new*/
	.book-section .btn-u:hover {
    background: #989797 !important;
	color: #fff !important;
}
	
	.book-section .btn-u, .book-section .btn-u:active {
    background: #e6e8e9 !important;
	
	}
	
	/*estylo para las noticias*/
	.notification:hover{
	color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
	}
	
	</style>
    

<script>


  
   function BuscarNews1( ) {
  
  
         // alert('fiua');
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news1.php',
                          data: 'fl_operacion='+$('#fl_operacion').val(),
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
   function BuscarNews2( ) {
  
  
         // alert('fiua');
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news2.php',
                          data: 'fl_operacion='+$('#fl_operacion').val(),
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
  

</script>





    
    	<!-- Book Section -->
  <section class='container g-mb-30'>
  	<div class='book-section g-bg-default rounded'>
			<div class='row'>
					<div class='col-md-8'>
					
					<div class='row'>
						<div class='col-sm-12'>
						       <!--
									<h1 style='color:#000;'>TREMEC <b>News</b></h1>
									<hr>-->
								<div class='panel-heading-v2 overflow-h'>
									<button class='btn-u btn-u-lg btn-block btn-u-blue' type='button' onClick="window.location.href='http://www.tremec.com/noticias.php'" style='font-size:20px; color:#484747; font-family: Arial,Regular, sans-serif; '>TREMEC <b>News</b></button>
									
								</div>
							
                            <div name='news' id='news'>


                            </div>



						</div>
					</div>
					
					
					
					</div>
					
					<div class='col-md-4'>
					
								<!--=== Profile ===-->
								<div class=' profile' style='border: solid 1px #eee;'>
								
								<!--Notification-->
								<div class='panel-heading-v2 overflow-h'>
									<button class='btn-u btn-u-lg btn-block btn-u-blue' type='button' onClick="window.location.href='http://www.tremec.com/noticias.php'" style='font-size:20px; color:#484747; font-family: Arial,Regular, sans-serif; '>News Archive</button>
									
								</div>
                               
                                
                                
                                    <!--<ul class='list-unstyled mCustomScrollbar margin-bottom-20' data-mcs-theme='minimal-dark'>--scroll que permite la navegacion vertical--->
								<ul class='list-unstyled  margin-bottom-20' data-mcs-theme='minimal-dark'>
    
    <input type='hidden' id='fl_nodo1' name='fl_nodo1' value="1019">

 <script>     
        
          function BuscarNews1( ) {
  
               var fl_nodo=$('#fl_nodo1').val();
         //alert(fl_nodo);
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news.php',
                          data: 'fl_nodo='+fl_nodo,
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
        
</script>
 
                                
									<li class='notification'>
									    <a href='javascript:void(0);' onclick='BuscarNews1();'>
										<img class='img-responsive' src='http://www.tremec.com/images/Thumbnail_Hot.Wheels.jpg' alt=''>
										</a>
										<div class='overflow-h'>
											<span><strong>September 26, 2018</strong></span>
											<span>Real-life Hot Wheels Camaro</span>
										</div>
										
									
									</li>
		
    <input type='hidden' id='fl_nodo2' name='fl_nodo2' value="998">

 <script>     
        
          function BuscarNews2( ) {
  
               var fl_nodo=$('#fl_nodo2').val();
         //alert(fl_nodo);
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news.php',
                          data: 'fl_nodo='+fl_nodo,
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
        
</script>
 
                                
									<li class='notification'>
									    <a href='javascript:void(0);' onclick='BuscarNews2();'>
										<img class='img-responsive' src='http://www.tremec.com/images/Mustang-parade.jpg' alt=''>
										</a>
										<div class='overflow-h'>
											<span><strong>August 14, 2018</strong></span>
											<span>Mustang Fans Love a Parade</span>
										</div>
										
									
									</li>
		
    <input type='hidden' id='fl_nodo3' name='fl_nodo3' value="988">

 <script>     
        
          function BuscarNews3( ) {
  
               var fl_nodo=$('#fl_nodo3').val();
         //alert(fl_nodo);
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news.php',
                          data: 'fl_nodo='+fl_nodo,
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
        
</script>
 
                                
									<li class='notification'>
									    <a href='javascript:void(0);' onclick='BuscarNews3();'>
										<img class='img-responsive' src='http://www.tremec.com/images/Hellcat-speed.jpg' alt=''>
										</a>
										<div class='overflow-h'>
											<span><strong>July 23, 2018</strong></span>
											<span>Muscle Marches on with Dodge Challenger SRT Hellcat Redeye </span>
										</div>
										
									
									</li>
		
    <input type='hidden' id='fl_nodo4' name='fl_nodo4' value="986">

 <script>     
        
          function BuscarNews4( ) {
  
               var fl_nodo=$('#fl_nodo4').val();
         //alert(fl_nodo);
           $.ajax({
                          type: 'POST',
                          url : 'http://www.tremec.com/search_news.php',
                          data: 'fl_nodo='+fl_nodo,
                  async: true,
                  success: function(html) {
                     $('#news').html(html);
                  }
                });  
  }
        
</script>
 
                                
									<li class='notification'>
									    <a href='javascript:void(0);' onclick='BuscarNews4();'>
										<img class='img-responsive' src='http://www.tremec.com/images/Mike.Kidd-thumbnail.jpg' alt=''>
										</a>
										<div class='overflow-h'>
											<span><strong>July 20, 2018</strong></span>
											<span>Mike Kidd, Promoted to Aftermarket Business Unit Manager</span>
										</div>
										
									
									</li>
		

									
								</ul>
								<!--End Notification-->
								</div>
					</div>
					
			</div>
  	</div>
  </section>
  <!-- End Book Section -->
    
<script>
 window.onload = BuscarNews1;
</script>

</div>
		<!-- End Content Part -->
<style>			
	.btn-u.btn-brd.btn-u-dark {
	border-color: #FFF  !important;
	}	
	.btn-u.btn-brd {
	color: #FFF !important;	
	}	
	.btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
	/*app.css  93*/
	background: RGBA(255, 255, 255, 0.55) !important;
	
	}
	</style>			
	
        <style>
        .overflecha2
        {display:block;
        width: 52px;
        height: 52px;
        background: url('http://www.tremec.com/assets/img/icons/icono_flecha_off.png');
        background-repeat: no-repeat;
        margin: auto;
        }
 
        .overflecha2:hover
        {
        width: 52px;
        height: 52px;
        background: url('http://www.tremec.com/assets/img/icons/icono_flecha_on.png');
        background-repeat: no-repeat;
        margin: auto;
        }

        </style>



		
			
			
			
			

			
		
    
    
    
    
    <style>

   #background {
    position: fixed;
    top: 80%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1300px !important;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* ICH_1408
    background-color: url(polina.jpg) no-repeat;*/
    background-color: #e6e8e9;
    background-size: cover;
    
    }
    
    .container h1 {
      color: white;
    }
	</style>
    
    
    
<style>
.service-block-purple {
background: #d7d5d5  !important;
}
.service-block-red {
background: #808080 !important;
}
.service-block-aqua {
background: #3B3939 !important;
.service-block-blue {
background: #3B3939 !important;
}

.pricing-table-v1 .pricing-v1 {
  margin-bottom: 0px !important;
  }
  
</style>
 
	                    <div align='center' class='embed-responsive embed-responsive-16by9' style='position:absolute;'>
   

                             <video autoplay loop muted class='embed-responsive-item' id='background' >
                                 <source src='http://www.tremec.com/videos/TOOLBOX_APP.mp4' type='video/mp4' id='pausar_video'>
                            </video>

	                    </div>		
                        
 
                                <div class='container'>
 
                                 <div class='row'>
 
                                        <div class='col-md-12 text-center'>
                                            <br />
                                            <br /><br /><br />
                                            <p class='color-light margin-bottom-10  fadeInUp wow animated' data-wow-duration='1.5s' data-wow-delay='.5s' style='font-size: 50px; font-weight: 400; padding: 3px 0px; visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;'>
				                            TREMEC <b>Toolbox APP</b>
					                        </p>
                                            <a href='javascript:void(0);' data-toggle='modal' data-target='#responsive' class='overflecha2 fadeInUp wow animated' id='pausar' onclick='AbrirModal()'></a>
                                            <br /><br /><br />
                                            <br />
                                            <br /><br /><br /><br /><br /><br />
                                        </div>
 
                                </div>
 
                        </div>
                            
                     <!-- Bootstrap Modals With Forms -->
						<div class='margin-bottom-40'>
							
					   <button class='btn-u hidden' data-toggle='modal' data-target='#responsive' id='abrir'>Modal Form Sample</button>

							
							<div class='modal fade bs-example-modal-lg' id='responsive' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
								<div class='modal-dialog modal-lg' style='margin: 100px auto;'>
									<div class='modal-content'>
										<div class='modal-header'>
											<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
											<!--<h4 class='modal-title' id='myModalLabel4'>Responsive Modal</h4>-->
										</div>
										<div class='modal-body'>
											<div class='row'>
												<div class='col-md-12'>
													

                                                    <div class='responsive-video '>
								                        <iframe width='100%' src='http://www.youtube.com/embed/OaVj6PtRewE' frameborder='0' allowfullscreen></iframe>
							                        </div>



												</div>
												
											</div>
										</div>
										<!--<div class='modal-footer'>
											<button type='button' class='btn-u btn-u-default' data-dismiss='modal'>Close</button>
											<button type='button' class='btn-u btn-u-primary'>Save changes</button>
										</div>-->
									</div>
								</div>
							</div>
						</div>
						<!-- End Bootstrap Modals With Forms -->
                     
                    <script>

                        function AbrirModal( ){

                        //document.getElementById('abrir').click();//clic automatico que se ejuta y sale modal
                        document.getElementById('pausar_video').pause();
                        }
                    </script> 
                         		
<style>

/*alineacion del logo del footer*/
.footer-logo{
display: left !important;

}


/*e la linea roja mitad de los tiutlo del footer */
.headline h2, .headline h3, .headline h4 {
border-bottom: 2px solid #d60b28 !important;
}

/*forzar color blanco en letras footer*/
 .color_white{
 color: #fff !important;
 }
 
 /*maregenes de la lsita de direccion, contacto footer*/
 .dl-horizontal dd {
 margin-left: 48px !important;
 
 }
 
 /*Margenes de la lista de direccion de contacto footer */
 .dl-horizontal dt {
 width: 40px !important;
 }


 hover_img:hover{
 border: 1px #aaa solid;
background: #fff url(http://www.tremec.com/assets/img/icons/facebook.jpg) no-repeat right center;
 
 }
 
</style>
    
 <!--=== Footer v1 ===-->
		<div id='footer-v1' class='footer-v1'>
				<div class='footer' style='padding: 1px 15px;'>
						<div class='container'>
								<div class='row'>
										<!-- About -->
										<div class='col-md-3 md-margin-bottom-40  '>
										<p>&nbsp;</p>
												<a href='http://www.kuo.com.mx' target='_blank'><img width='180px' style='margin-bottom: 10px;' src='http://www.tremec.com/images/TREMEC-KUO_English-logo.png'  alt=''></a>
												
												
												<ul class='list-inline'><li><a href='http://www.facebook.com/TremecPerformance' target='_blank'><img src='http://www.tremec.com/images/facebook.jpg' ></a></li><li><a href='http://www.twitter.com/TREMEC' target='_blank'><img src='http://www.tremec.com/images/twitter.jpg'></a>	</li><li><a href='https://plus.google.com/102856044859666150285' target='_blank'><img src='http://www.tremec.com/images/gmail.jpg' ></a></li><li><a href='https://www.instagram.com/tremecperformance' target='_blank'><img src='http://www.tremec.com/images/Instagram.png' ></a></li><li><a href='http://www.youtube.com/TREMECtv' target='_blank'><img src='http://www.tremec.com/images/youtube.jpg'></a></li><li><a href='https://www.linkedin.com/company/tremec---transmission-technologies-corporation' target='_blank'><img src='http://www.tremec.com/images/linkedin.png'></a></li>		
												</ul>
												<p>&nbsp;</p>
												<p>Copyright &copy; 2018 TREMEC. All Rights Reserved.</p>

										</div>
										<!-- End About -->

										<!-- Latest -->
										<div class='col-md-3 md-margin-bottom-40'>
												
										</div>
										<!-- End Latest -->

										<!-- Link List -->
										<div class='col-md-3 md-margin-bottom-40'>
												<div class='headline'><h2><b>Useful Links</b></h2></div>
												<ul class='list-unstyled link-list'><li class='white'><a href='http://www.tremec.com/menu/privacy-policy/' class='white' style="font-size:1em;" target='_blank'>Privacy&nbsp;Policy</a></li><li class='white'><a href='http://www.tremec.com/menu/site-map/' class='white' style="font-size:1em;" >Site&nbsp;Map</a></li><li class='white'><a href='http://www.tremec.com/menu/purchase-terms-and-conditions/' class='white' style="font-size:1em;" >Purchase&nbsp;terms&nbsp;and&nbsp;conditions</a></li>														
														
												</ul>
										</div>
										<!-- End Link List -->
 
 
 
 
<style>
.over
{display:block;
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/ubicacion_off.jpg');
background-repeat: no-repeat;
}
 
.over:hover
{
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/ubicacion_on.jpg');
background-repeat: no-repeat;
}

.over1
{display:block;
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/telefono_off.jpg');
background-repeat: no-repeat;
}
 
.over1:hover
{
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/telefono_on.jpg');
background-repeat: no-repeat;
}


.over2
{display:block;
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/web_off.jpg');
background-repeat: no-repeat;
}
 
.over2:hover
{
width: 32px;
height: 32px;
background: url('http://www.tremec.com/images/web_on.jpg');
background-repeat: no-repeat;
}
 </style>
  
  
    
                                    <!-- Address -->
										<div class='col-md-3 map-img md-margin-bottom-10'>
												<div class='headline'><h2><b>Contact Us</b></h2></div>
												<address class='md-margin-bottom-40'>
														<dl class='dl-horizontal text-left'>
														    <dt>
                                                            
                                                             <a href='javascript:void(0);' class='over'></a>

                                                               
                                                            </dt>
														    <dd style='margin-bottom:5px;'>46643 Ryan Court | Novi, Michigan 48377 USA</dd>
																
														    <dt> <a href='javascript:void(0);' class='over1'></a></dt>
														    <dd style='margin-bottom:5px;'>Phone +1 (248) 859.6500<br> Fax: +1 (248) 859.6400
															</dd>
														        
														    <dt> <a href='javascript:void(0);' class='over2'></a></dt>
														    <dd style='margin-bottom:5px;'>www.tremec.com<br>customer.service@tremec.com
															</dd>
														 
														</dl>
												</address>
										</div>
										<!-- End Address -->
								</div>
						</div>
				</div><!--/footer-->

	
		</div>
		<!--=== End Footer v1 ===-->	
    
    
    <div id='barracookies'>

    <div class='row' style='margin: 10px 10px 10px 10px; font-size: 14px; color:white'>
      <div class='col-lg-8 text-left' style='padding-left:10px;'>
        Use of Cookies: <b>TREMEC</b> uses cookies to continuously improve the website and optimize its design. By continuing to browse this website, you agree to the use of cookies. 
      </div>
      <div class='col-xs-6 col-lg-2 ' style='padding-top:18px;'>
        <a href='http://kuo.com.mx/lang.php?m=192&l=2&o=menu.php'  type='button' style='
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 0;
        background: none !important;
        font-weight: normal;
        color: #00ABE7;
        border: none;
        outline: none;
        text-decoration: none;
    ' target='_blank'> <b>READ MORE</b></a><br>
      </div>  
      <div class='col-xs-6 col-lg-2' style='padding-top:5px;'>
        <a href='javascript:AceptaCookie();' type='button' style='
          background: #13b2e8;
          color: #ffffff;
          font-weight: bold;
          padding: 13px 20px 13px 20px;
          display: inline-block;
          border-radius: 30px;
          text-transform: uppercase;
          font-family: Arial;
          font-weight: bold;
          position: relative;'> <b>I AGREE</b> </a> 
      </div>  
    </div>
  </div>
  <!-- Estilo barra CSS -->
  <style>#barracookies {display: none;z-index: 99999;position:fixed;left:0px;right:0px;bottom:0px;width:100%;min-height:40px;padding:5px;background: rgba(59,57,57, 0.80);color:#d7c712;line-height:20px;font-family:verdana;font-size:12px;text-align:center;box-sizing:border-box;} #barracookies a:nth-child(2) {padding:4px;background:#4682B4;border-radius:5px;text-decoration:none;} #barracookies a {color: #fff;text-decoration: none;}</style>
  <!-- Gestin de cookies-->
  <script type='text/javascript'>
    function setCookie(name,value,expires,path,domain,secure){
      document.cookie = name + '=' + escape(value) +
      ((expires==null)?'':'; expires='+ expires.toGMTString()) +
      ((path==null)?'':'; path='+path) +
      ((domain==null)?'':'; domain='+domain) + 
      ((secure==null)?'':'; secure')
    }
    
    function getCookie(name){
      var cname = name + '=';
      var dc=document.cookie;
      if(dc.length>0){
        begin=dc.indexOf(cname);
        if(begin!=-1){
          begin += cname.length;
          end = dc.indexOf(';',begin);
          if(end==-1)end=dc.length;return unescape(dc.substring(begin,end))
        }
      }
      return null;
    }
    function delCookie(name,path,domain){
      if(getCookie(name)){
        document.cookie=name+'='+((path==null)?'':'; path='+path)+((domain==null)?'':'; domain='+domain)+'; expires=Thu, 01-Jan-70 00:00:01 GMT'
      }
    }
    
    function AceptaCookie(){
    var expiration = new Date();
    expiration.setTime(expiration.getTime() + (60000*60*24*3650));
    setCookie('avisocookies','1',expiration);
    document.getElementById('barracookies').style.display='none';
    }
    
  </script>
  <!-- Gestin barra aviso cookies -->
  <script type='text/javascript'>
  var comprobar = getCookie('avisocookies');
  if (comprobar != null) {
    document.getElementById('barracookies').style.display='none';
  }
  else {
    document.getElementById('barracookies').style.display='block';
  }
  </script>
   
    
    </div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/jquery/jquery.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/jquery/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/bootstrap/js/bootstrap.min.js'></script>
	<!-- JS Implementing Plugins -->
	
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/back-to-top.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/smoothScroll.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/fancybox/source/jquery.fancybox.pack.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
	



	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/layer-slider/layerslider/js/greensock.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js'></script>
	<!-- JS Customization -->
	<script type='text/javascript' src='http://www.tremec.com/assets/js/custom.js'></script>
	<!-- JS Page Level -->
	<script type='text/javascript' src='http://www.tremec.com/assets/js/app.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/layer-slider.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/style-switcher.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/owl-carousel.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/owl-recent-works.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/fancy-box.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/revolution-slider.js'></script>
	

	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/counter/waypoints.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/counter/jquery.counterup.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js'></script>
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js'></script>
	
	<script src='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js'></script>
	<script src='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js'></script>
	<script src='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js'></script>
	<script src='http://www.tremec.com/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js'></script>
    <script type='text/javascript' src='http://www.tremec.com/assets/js/plugins/validation.js'></script>
	
	<script type='text/javascript' src='http://www.tremec.com/assets/plugins/wow-animations/js/wow.min.js'></script>
	
	
	<script type='text/javascript'>
	    jQuery(document).ready(function() {
	        App.init();
	        FancyBox.initFancybox();
	        StyleSwitcher.initStyleSwitcher();
	        RevolutionSlider.initRSfullWidth();
	        OwlCarousel.initOwlCarousel();
	        OwlRecentWorks.initOwlRecentWorksV2();
	        App.initScrollBar();
            Validation.initValidation();
           
		
	    });
</script>
<script type='text/javascript'>
    jQuery(document).ready(function() {

        new WOW().init();
    });
	</script>
	
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


	

	
	

<!--[if lt IE 9]>
	<script src='http://www.tremec.com/assets/plugins/respond.js'></script>
	<script src='http://www.tremec.com/assets/plugins/html5shiv.js'></script>
	<script src='http://www.tremec.com/assets/plugins/placeholder-IE-fixes.js'></script>
	<![endif]-->

</body>
</html>

<script src="https://cdn.recast.ai/webchat/webchat.js"
channelId="e4a3870c-50c3-4d29-b709-af0fbff6314f"
token="908f023fb4d3ac1d2845de369eb174b9"
id="recast-webchat"
></script>


